{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

{% if user.is_authenticated %}Привет, {{ user.username }}

    <a type="submit" href="/logout/">Выход</a>

{% else %}

    {% if errors %}
        <h5 >{{ errors }}</h5>
    {% endif %}

    <form action="/login/" method="POST">{% csrf_token %}
        {{ form.as_p }}

        <input type="submit" class="btn btn-primary" value="Войти"/>

        <a type="submit" class="btn btn-primary" href="/register/">Регистрация</a>

    </form>

{% endif %}

{% endblock %}

{% block footer %}{% endblock %}