{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>


    <title> {% block title %}{% endblock title %}Responsive HTML5 Website Template for Developers | 3rd Wave
        Media </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Global CSS -->
    <link rel="stylesheet" href={% static "plugins/bootstrap/css/bootstrap.min.css" %}>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href={% static "plugins/font-awesome/css/font-awesome.css" %}>
    <!-- github acitivity css -->
    <link rel="stylesheet" href={% static "plugins/github-activity/dist/github-activity-0.1.0.min.css" %}>
    {#    <link rel="stylesheet" href={% static "plugins/github-activity/dist/octicons/octions.min.css" %}>#}
    <!-- Theme CSS -->
    <link rel="stylesheet" href={% static "plugins/font-awesome/css/font-awesome.min.css" %}>

    <link id="theme-style" rel="stylesheet" href={% static "css/styles.css" %}>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>





    <![endif]-->
</head>

<body>

{% block header %}{% endblock %}

{% block content %}

    {% block osnova %}{% endblock %}
    {% block sidebar %}{% endblock %}

{% endblock %}

{% block footer %}

    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a
                    href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers
            </small>
        </div>
        <!--//container-->
    </footer><!--//footer-->

{% endblock %}


</body>



