{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container sections-wrapper">
    <div class="row">

   {% block osnova %}

<div class="primary col-md-8 col-sm-12 col-xs-12">
{% for blogs in posts %}

        <section class="latest section">
            <div class="section-inner">
                <h2 class="heading">{{ blogs.category }}</h2>

                <div class="content">

                    <div class="item featured text-center">
                        <h3 class="title" >{{ blogs.title_post }}</h3>

                    {% if blogs.preview_image %}
                        <div class="featured-image" align="middle">
                            <img class="img-responsive project-image"
                                 src="/media/{{ blogs.preview_image }}"/>
                            <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                               target="_blank"></a>
                        </div>
                    {% endif %}
                        <div class="desc text-left">{{ blogs.small_description_post}}</div>
                        <a class="btn btn-cta-secondary" href="post/{{ blogs.id }}"
                           align="right"><i class="fa fa-thumbs-o-up"></i> Read more</a>
                        <h6 align="right"> {{ blogs.date_created_post}} </h6>
                    </div>
                </div>
            </div>
        </section>

        {% endfor %}

        <div id="pages" align="center">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-fighter-jet fa-rotate-180 fa-2x"></i></a>
        {% endif %}
    <span class="current">
         {{ posts.number }} из {{ posts.paginator.num_pages }}
    </span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"><i class="fa fa-fighter-jet fa-2x color-red"></i> </a>
        {% endif %}
    </div>

</div>
        {% endblock %}

        {% block sidebar %}
        <div class="secondary col-md-4 col-sm-12 col-xs-12">

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>

                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Melitopol, UA
                            </li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="http://mail.ru">kolyadich-91@mail.ru</a>
                            </li>
                            <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a>
                            </li>
                        </ul>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//aside-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>

                    <div class="content">
                        <p class="intro">Міністр внутрішніх справ Арсен Аваков доручив ДАІ не допускати
                            наявність на автомобільних номерних знаках будь-яких написів,
                            крім державних реєстраційних знаків.
                        </p>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Tra ta ta ta</h2>

                    <div class="content">
                        <p class="intro">Tra tat tat at tat ta tat a
                        </p>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            </div>
        {% endblock %}
            </div>
        </div>
{% endblock %}
{% block footer %}{{ block.super }}{% endblock %}