<form method="post" action=''/>
    {{ form.as_p }}
    <input class="button btn-cta-primary" type="submit" value="add">
</form>

    {% for all_comment in all_comments %}
        <h1>{{ all_comment.text_comments }}</h1>
    {% endfor %}

