{% block footer %}

    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a
                    href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers
            </small>
        </div>
        <!--//container-->
    </footer><!--//footer-->

{% endblock %}