{% extends "base.html" %}
{% load staticfiles %}

<body xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

{% block header %}
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="{% static "images/profile.png" %}"
                 alt="James Lee"/>

            <div class="profile-content pull-left">
                <h1 class="name">James Lee</h1>

                <h2 class="desc">Web App Developer</h2>
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                    <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
                </ul>
            </div>
            <!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i
                    class="fa fa-paper-plane"></i> Contact Me</a>
        </div>
        <!--//container-->
    </header><!--//header-->
{% endblock %}

{% block content %}

    <div class="container sections-wrapper">
        <div class="row">
            {% block osnova %}
                <div class="primary col-md-8 col-sm-12 col-xs-12">
                    <section class="about section">
                        <div class="section-inner">
                            <h2 class="heading">About Me</h2>

                            <div class="content">
                                <p>Write a brief intro about yourself. Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                                    ultricies nec.</p>

                            </div>
                        </div>
                    </section>


                    {% for latest in date_projects %}

                        {% if latest.primary == True %}



                            <section class="latest section">
                            <div class="section-inner">
                            <h2 class="heading">Мои Проекты</h2>

                            <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title">{{ latest.title }}</h3>

                                <div class="featured-image">
                                    <img class="img-responsive project-image"
                                         src="/media/{{ latest.main_image }}"/>
                                    <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                                       target="_blank"></a>

                                    <div class="ribbon">
                                        <div class="text">New</div>
                                    </div>
                                </div>

                                <div class="desc text-left">{{ latest.description }}</div>
                                <a class="btn btn-cta-secondary" href="latest-project/{{ latest.slug }}"
                                   align="right"><i class="fa fa-thumbs-o-up"></i> Read more</a>
                                <h6 align="right"> {{ latest.date_updated }} </h6>
                            </div>
                            <!--//item-->

                            <hr class="divider"/>

                        {% else %}

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12"
                                   href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/"
                                   target="_blank">
                                    <img class="img-responsive project-image"
                                         src="/media/{{ latest.main_image }}"/>
                                </a>

                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title">{{ latest.title }}</h3>

                                    <p>{{ latest.description }}</p>

                                    <p><a class="btn btn-cta-secondary" href="latest-project/{{ latest.slug }}">Read
                                        more
                                        <i class="fa fa-chevron-right"></i></a>
                                    <h6 align="right"> {{ latest.date_updated }} </h6>
                                </div>
                                <!--//desc-->
                            </div>
                            <!--//item-->

                        {% endif %}
                    {% endfor %}
                    </div>
                    <!--//content-->
                    </div>
                    <!--//section-inner-->
                    </section><!--//section-->


                    <section class="projects section">
                        <div class="section-inner">
                            <h2 class="heading">Other Projects</h2>

                            <div class="content">
                                {% for other_project in other_projects %}
                                    <div class="item">
                                        <h3 class="title">{{ other_project.title }}</h3>

                                        <p class="summary">{{ other_project.description }}</p>
                                    </div>
                                    <a class="btn btn-cta-secondary" href="latest-project/{{ other_project.slug }}">Read more
                                        <i class="fa fa-chevron-right"></i></a>
                                    <h6 align="right"> {{ other_project.date_updated }} </h6>
                                {% endfor %}
                            </div>
                            <!--//content-->
                        </div>
                        <!--//section-inner-->
                    </section>
                    <!--//section-->


                    <section class="experience section">
                        <div class="section-inner">
                            <h2 class="heading">Work Experience</h2>

                            <div class="content">
                                {% for work in work_date %}
                                    <div class="item">
                                        <a href="{{ work.url_work }}"><h2 class="heading">{{ work.company_name }}</h2>
                                        </a>

                                        <h3 class="title">{{ work.title_work }} - <span class="place">
                                            </span>
                                            <span class="year">({{ work.date_work }} - {{ work.date_end_work }})</span>
                                        </h3>

                                        <p>{{ work.description_work }}</p>
                                    </div>
                                    <!--//item-->
                                {% endfor %}
                            </div>
                        </div>
                        <!--//section-inner-->

                    </section>
                    <!--//section-->


                </div>
            {% endblock osnova %}



            {% block sidebar %}

                <div class="secondary col-md-4 col-sm-12 col-xs-12">

                 <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only"></h2>

                    <div class="content">
                        <ul class="list-unstyled">

                        {% if user.is_authenticated %}Привет, {{ user.username }}

                            <a type="submit" href="/logout/">Выход</a>

                        {% else %}
                            {% include "login.html" %}
                        {% endif %}
                        </ul>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//aside-->

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>

                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Melitopol, UA
                            </li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="http://mail.ru">kolyadich-91@mail.ru</a>
                            </li>
                            <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a>
                            </li>
                        </ul>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//aside-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>

                    <div class="content">
                        <p class="intro">Міністр внутрішніх справ Арсен Аваков доручив ДАІ не допускати
                            наявність на автомобільних номерних знаках будь-яких написів,
                            крім державних реєстраційних знаків.
                        </p>



                        <div class="skillset">

                            <div class="item">
                                {% for skill in skill %}
                                <h3 class="level-title">{{ skill.name_language }}
                                    <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true"
                                          title="You can use the tooltip to add more info...">{{ skill.level }}</span>
                                </h3>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                             aria-valuemax="70" style="width:{{ skill.progress }}%">{{ skill.progress }}%
                                        </div>
                                </div>
                                <!--//level-bar-->
                                 {% endfor %}
                            </div>
                            <!--//item-->

                            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on
                                Coderwall</a>
                            </p>
                        </div>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            <aside class="testimonials aside section">
                <div class="section-inner">
                    <h2 class="heading">Testimonials</h2>

                    <div class="content">
                        <div class="item">
                        {% for testimonial in testimonials %}
                            <blockquote class="quote">
                                <p><i class="fa fa-quote-left"></i>{{testimonial.response}}
                                </p>
                            </blockquote>
                            <p class="source"><span class="name">{{testimonial.author_response}}</span><br/><span
                                    class="title">{{testimonial.company_response}}</span></p>
                        {% endfor %}
                        </div>
                        <!--//item-->

                        <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on
                            Linkedin</a></p>

                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>

                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> ТГАТУ
                            </h3>
                            <h4 class="university">Мелитополь<span
                                    class="year">(2008-2013)</span></h4>
                        </div>
                        <!--//item-->
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>

                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                {% for languages in languages %}
                                <span class="title"><strong>{{ languages.language }}:</strong></span>
                                <span class="level">{{ languages.level }}<br class="visible-xs"/></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                         aria-valuemax="70" style="width:{{ languages.lang_progress }}%">{{ languages.lang_progress}}%
                                    </div>
                                </div>
                                {% endfor %}
                            </li>                            <!--//item-->
                        </ul>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            <aside class="blog aside section">
                <div class="section-inner">
                    <h2 class="heading">Latest Blog Posts</h2>

                    <p>You can use Sascha Depold's</p>
                        <a class="btn btn-cta-secondary" href="/blog/">GO!<i class="fa fa-chevron-right"></i></a>

                    <div id="rss-feeds" class="content">

                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->

            <aside class="list conferences aside section">
                <div class="section-inner">
                    <h2 class="heading">Conferences</h2>

                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-calendar"></i> <a href="https://developer.apple.com/wwdc/"
                                                                  target="_blank">WWDC
                                2014</a> (San Francisco)
                            </li>
                            <li><i class="fa fa-calendar"></i> <a href="http://hive.aigaseattle.org/">Hive</a>
                                (Seattle)
                            </li>
                        </ul>
                    </div>
                    <!--//content-->

                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->
        </div><!--//secondary-->

            {% endblock %}

        </div>
    </div>
{% endblock content %}
{% block footer %} {{ block.super }} {% endblock %}

<!-- Javascript -->
<script type="text/javascript" src={% static "plugins/jquery-1.11.2.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/jquery-migrate-1.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/bootstrap/js/bootstrap.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/jquery-rss/dist/jquery.rss.min.js" %}></script>
<!-- github activity plugin -->
<script type="text/javascript" src={% static "plugins/github-activity/dist/mustache/mustache.min.js" %}></script>
<script type="text/javascript"
        src={% static "plugins/github-activity/dist/github-activity-0.1.0.min.js" %}></script>
<!-- custom js -->
<script type="text/javascript" src={% static "js/main.js" %}></script>


</body>



