{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    {% block osnova %}

        {% for post in one_post %}
            <div class="container sections-wrapper">
            <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">

                <section class="latest section">
                    <div class="section-inner">

                        <div class="content">

                            <div class="item featured text-center">

                                <h2 class="title">{{ post.title_post }}</h2>

                                <p class="summary"></p>

                                <div class="featured-image"><img class="img-responsive project-image"
                                                                 src="/media/{{ post.preview_image }}"/>

                                </div>


                                <div class="desc text-left"> {{ post.description_post }}</div>
                                <!--//desc-->
                                <div class="item row">
                                    <p></p>
                                    {% for image_post in post.many_image_post.all %}
                                        <img src="/media/{{ image_post.many_img }}" align="top" height="100"
                                             width="120"/>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-cta-secondary" href="/blog/"
                                   align="right"><i class="fa fa-thumbs-o-up"></i> Home </a>

                                <h6 align="right"> {{ post.date_changed_post }} </h6>

                           <form method="post" action="/blog/post/{{ post.id }}/"/>
                                {{ form.as_p }}
                                <input class="button btn-cta-primary" type="submit" value="add">
                           </form>

                                {% for all_comment in all_comments %}

                                    <hr>
                                    <h5 align="left">{{ all_comment.author_comments }}</h5>
                                    <h3>{{ all_comment.text_comments }}</h3>
                                    <h6 align="right">{{ all_comment.date_comments }}</h6>
                                    <hr>
                                {% endfor %}


                            </div>
                            <!--//item-->
                        </div>
                    </div>
                </section>

            </div>
        {% endfor %}
    {% endblock %}


{% block sidebar %}

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
        <aside class="info aside section">
            <div class="section-inner">
                <h2 class="heading sr-only">Basic Information</h2>

                <div class="content">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Melitopol, UA
                        </li>
                        <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="http://mail.ru">kolyadich-91@mail.ru</a>
                        </li>
                        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a>
                        </li>
                    </ul>
                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </aside>
        <!--//aside-->

        <aside class="skills aside section">
            <div class="section-inner">
                <h2 class="heading">Skills</h2>

                <div class="content">
                    <p class="intro">Міністр внутрішніх справ Арсен Аваков доручив ДАІ не допускати
                        наявність на автомобільних номерних знаках будь-яких написів,
                        крім державних реєстраційних знаків.
                    </p>

                    <div class="skillset">

                        <div class="item">
                            {% for skill in skill %}
                                <h3 class="level-title">{{ skill.name_language }}
                                    <span class="level-label" data-toggle="tooltip" data-placement="left"
                                          data-animation="true"
                                          title="You can use the tooltip to add more info...">{{ skill.level }}</span>
                                </h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                         aria-valuemax="70" style="width:{{ skill.progress }}%">{{ skill.progress }}%
                                    </div>
                                </div>
                                <!--//level-bar-->
                            {% endfor %}
                        </div>
                        <!--//item-->

                        <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on
                            Coderwall</a>
                        </p>
                    </div>
                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </aside>
        <!--//section-->

        <aside class="testimonials aside section">
            <div class="section-inner">
                <h2 class="heading">Testimonials</h2>

                <div class="content">
                    <div class="item">
                        {% for testimonial in testimonials %}
                            <blockquote class="quote">
                                <p><i class="fa fa-quote-left"></i>{{ testimonial.response }}
                                </p>
                            </blockquote>
                            <p class="source"><span class="name">{{ testimonial.author_response }}</span><br/><span
                                    class="title">{{ testimonial.company_response }}</span></p>
                        {% endfor %}
                    </div>
                    <!--//item-->

                    <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on
                        Linkedin</a></p>

                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </aside>
        <!--//section-->

        <aside class="education aside section">
            <div class="section-inner">
                <h2 class="heading">Education</h2>

                <div class="content">
                    <div class="item">
                        <h3 class="title"><i class="fa fa-graduation-cap"></i> ТГАТУ
                        </h3>
                        <h4 class="university">Мелитополь<span
                                class="year">(2008-2013)</span></h4>
                    </div>
                    <!--//item-->
                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </aside>
        <!--//section-->

        <aside class="languages aside section">
            <div class="section-inner">
                <h2 class="heading">Languages</h2>

                <div class="content">
                    <ul class="list-unstyled">
                        <li class="item">
                            {% for languages in languages %}
                                <span class="title"><strong>{{ languages.language }}:</strong></span>
                                <span class="level">{{ languages.level }}<br class="visible-xs"/></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                         aria-valuemax="70"
                                         style="width:{{ languages.lang_progress }}%">{{ languages.lang_progress }}%
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                        <!--//item-->
                    </ul>
                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </aside>
        <!--//section-->
    </div>
{% endblock %}
</div>
</div>
{% endblock %}
{% include footer %}
